.div-adm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-adm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 30px;
}

.h2-adm {
    align-self: flex-start;
}

.label-adm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label-adm input {
    height: 40px;
    background-color: transparent;
    border: 1px solid rgb(97, 97, 97);
    padding: 0;
    width: 170px;
    height: 42px;
    border-radius: 10px;
}

.label-adm select {
    height: 40px;
    width: 170px;
    height: 42px;
    border-radius: 10px;
    background-color: #242424;
}

.option-adm {
    background-color: #242424;
}

.btn-adm {
    height: 40px;
    width: 170px;
    height: 42px;
    align-self: last baseline;
    border-radius: 10px;
    background-color: transparent;
}

.btn-adm:hover {
    color: #FF0404;
    border: #FF0404 1px solid;
}

.div-list {
    width: 100%;
}

.users-list {
    width: 100%;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 30px;
}

.btn-delete-usr {
    height: 40px;
    width: 170px;
    height: 42px;
    align-self: last baseline;
    border-radius: 10px;
    background-color: transparent;
}

.btn-delete-usr:hover {
    color: #FF0404;
    border: #FF0404 1px solid;
}

#loader_gif {
    width: 30%;
    position: relative;
    top: 70px;
}