.main-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-main-details {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: 1px solid red;
    width: 70%;
}