.main-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-details h2 {
    align-self: flex-start;
    margin-left: 10%;
}

.div-main-details {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 25px;
    width: 72%;
    height: 12vh;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.div-main-details h3 {
    margin: 0;
}

.div-order-detail-product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#div-status-details {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.btn-entregue {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
}

.btn-entregue:hover {
    color: #FF0404;
    border: #FF0404 1px solid;
}

.pendente {
    background-color: #FF0404;
}

.preparando {
    background-color: #c7bc42;
}

.entregue {
    background-color: #61b560;
}

.transito {
    background-color: #0e5ec7;
}
