.div-order-product {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 25px;
    padding: 15px;
}

.div-order-product th {
    width: 17%;
}

.btn-remove-item {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}


.btn-remove-item:hover {
    border: 1px solid #FF0404;
    color: #FF0404;
}

.div-h2-total {
    display: flex;
    align-self: flex-end;
}

.h2-total {
    background-color: #61b560;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}